*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: system-ui;
}

/* Put a selector here to select div elements (see index.html). */
.all {
  font-family: cursive;
  padding: 8px;
  background-color: blueviolet;
  border: solid black 2px;
  margin: 8px;
  padding-left: 80px;
  padding-top: 30px;
  height: 100px;
  width: 300px;
  border-radius: 20px;
}

.first {
  color: red;
  margin-top: 40px;
  margin-left: 100px;
}

.second {
  color: yellow;
  margin-top: 40px;
}
